
$screen-768: 768px;
$screen-480: 480px;


$body-background-light: #6cd9ff;
$body-background-dark: #0D1117;

$components-background-light: #ffffff;
$components-background-dark: #4F4F4F;

$components-main-text-light:#0D1117;
$components-main-text-dark:#ffffff;


:root {
  --body-background-dark: #{$body-background-dark};
  --body-background-light: #{$body-background-light};
  --body-background-default: var(#{--body-background-light});

  --components-background-dark: #{$components-background-dark};
  --components-background-light: #{$components-background-light};
  --components-background-default: var(#{--components-background-light});

  --components-main-text-dark: #{$components-main-text-dark};
  --components-main-text-light: #{$components-main-text-light};
  --components-main-text-default: var(#{--components-main-text-light});
}