@import "../../styles/variables.scss";

.detailsDay {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(#{--components-background-default});
  border-radius: 15px;
  padding: 10px 10px;
  max-width: 400px;
  width: 100%;
  @media (max-width: $screen-768){    
    max-width: 250px;
  }  
  &__icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    color: #939cb0;
    margin: 0;    
  }
  &__description {
    color: var(#{--components-main-text-default});    
    text-align: right;
    margin: 0;   
  }  
}
.wrapperText {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 200px;
  width: 100%;
  @media (max-width: $screen-768){    
    margin-left: 20px;
    max-width: 150px;
  }
}
.wrapperItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 400px;
  width: 100%;
  margin-bottom: 10px;
}
.wrapperItem:last-child {
  margin-bottom: 0;
}