@import "../../styles/variables.scss";

.infoDay {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.hourlyForecastWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  &__title {
    font-size: 25px;
    color: var(#{--components-main-text-default});
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 900px;
    width: 100%;
  }  
}
.wrapperloadingTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  &__title {
    font-size: 30px;
    color: var(#{--components-main-text-default});
    margin: 0;  
  }
}

.preloader {
  display: flex;
  justify-content: center;
  margin-top: 20px;    
  g * {    
    animation-name: moving; // задает имя анимации
    animation-duration: 3s; // задает длитильность анимации за один цикл
    animation-iteration-count: infinite; // определяется сколько раз проигрывается цикл (infinite - бесконечно)
    animation-timing-function: linear; // задает как происходит анимации в течении каждого цикла

    // animation: moving 3s infinite linear; // или можно записать все ОДНОЙ СТРОКОЙ

    transform-origin: center center; // указывает начало координат трансформации элемента    
  }
  @keyframes moving {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }  
}


